<footer class="container-fluid" id="footer">
    <div class="container row mx-auto">
      <div
        class="offset-lg-3 col-lg-6 d-flex justify-content-between text-light"
      >
        <a class="footer-link" href="#home">main</a>
        <a class="footer-link" href="#about">about</a>
        <a class="footer-link" href="#features">game features</a>
        <a class="footer-link" href="#requirements">system requirements</a>
        <a class="footer-link" href="#quotes">quotes</a>
      </div>
      <div class="col-lg-3 d-flex justify-content-evenly">
        <a class="iconlink"  href="https://www.facebook.com/" target="_blank"
          ><img src="./assets/facebook.svg" alt="facebook"
        /></a>
        <a class="iconlink" href="https://www.twitter.com/" target="_blank"
          ><img src="./assets/twitter.svg" alt="twitter"
        /></a>
        <a class="iconlink" href="https://www.youtube.com/" target="_blank"
          ><img src="./assets/youtube.svg" alt="youtube"
        /></a>
        <a class="iconlink" href="https://www.twitch.tv/" target="_blank"
          ><img src="./assets/twitch.svg" alt="twitch"
        /></a>
      </div>
    </div>
    <hr class="mx-auto" width="85%" />
    <div class="container row mx-auto">
      <div class="copyright col-lg-4 text-light-emphasis ps-xl-5">
        <p>&copy; 2018 Your Games, Inc. All Rights Reserved</p>
      </div>
      <div class="offset-lg-3 col-lg-5 text-light ps-xxl-4">
        <a class="footer-link" href="">PRIVACY POLICY</a> |
        <a class="footer-link" href="">TERMS OF SERVICES</a> |
        <a class="footer-link" href="">CODE OF CONDUCT</a>
      </div>
    </div>
  </footer>
