<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarSupportedContent"
      >
        <div class="navbar-nav d-flex">
          <a class="nav-link active px-lg-4" aria-current="page" href="/"
            >Home</a
          >
          <a
            class="nav-link active px-lg-4"
            href="/work"
            >work</a
          >
          <a
            class="nav-link active px-lg-4"
            href="/contact"
            >contact</a
          >
          <a
            class="nav-link active px-lg-4"
            href="/aboutme"
            >about me</a
          >
        </div>
        <div class="navbar-nav nav-right">
          <a
            class="nav-link active px-lg-4"
            href="/signup"
            >sign up</a
          >
          <a
            class="nav-link active px-lg-4"
            href="/login"
            >login</a
          >
        </div>
      </div>
    </div>
  </nav>