<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <title>About me</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include("partials/navbar"); -%>

    <!-- about me section -->
    <section
      class="about-me container-fluid d-flex align-items-center justify-content-center"
      id="work"
    >
      <main class="container content text-center text-white">
        <h1>ABOUT ME</h1>
        <h3>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro
          provident cumque corporis temporibus soluta magnam voluptate nihil
          iste veritatis obcaecati, nemo ex aperiam dolorem mollitia voluptates
          sed, ipsa at dignissimos?
        </h3>
      </main>
    </section>

    <!-- footer -->
    <%- include("partials/footer"); -%>
    
  </body>
</html>
