<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <title>Contact</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include("partials/navbar"); -%>

    <!-- contact section -->
    <section
      class="contact container-fluid d-flex align-items-center justify-content-center"
      id="contact"
    >
      <main class="container col-md-4 content text-white">
        <h1>CONTACT</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          repellendus sed velit quis in. Corrupti dolorum, vero illo culpa esse
          itaque. Eligendi fugit architecto excepturi a quibusdam ullam,
          deleniti laboriosam.
        </p>
        <div class="mt-3 mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="youremail@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Message</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <button class="playbutton btn btn-warning px-5 py-3">Send</button>
      </main>
    </section>

    <!-- footer -->
    <%- include("partials/footer"); -%>
    
    ></script>
  </body>
</html>
