<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Suit</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="./assets/game-assets/logo3.png"
    />

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
  </head>
  <body>
    <section class="game-section container-fluid display-table">
      <div class="">
        <a class="back" href="/"
          ><img class="img-fluid" src="assets/game-assets/back.svg" alt="" /></a
        ><a class="game-icon" href="#"
          ><img
            class="img-fluid"
            src="assets/game-assets/logo3.png"
            alt="" /></a
        ><span class="display-5">ROCK&nbspPAPER&nbspSCISSORS</span>
      </div>
      <div
        class="container game-wrapper d-flex mt-3 justify-content-center align-items-center text-center"
      >
        <div class="row">
          <div class="col-4 player option mx-auto" id="player-area">
            <h1 class="display-3">PLAYER&nbsp1</h1>
            <ul>
              <li>
                <button id="rock">
                  <img class="" src="assets/game-assets/batu.png" alt="" />
                </button>
              </li>
              <li>
                <button id="paper">
                  <img class="" src="assets/game-assets/kertas.png" alt="" />
                </button>
              </li>
              <li>
                <button id="scissors">
                  <img class="" src="assets/game-assets/gunting.png" alt="" />
                </button>
              </li>
            </ul>
          </div>
          <div
            class="col-4 mx-auto d-flex justify-content-center align-items-center"
          >
            <div class="">
              <h2 class="result display-3 align-content-center" id="result">
                VS
              </h2>
            </div>
          </div>
          <div class="col-4 computer option mx-auto" id="computer-area">
            <h1 class="text-center display-3">&nbspCOM</h1>
            <ul>
              <li>
                <button id="comp-rock" disabled>
                  <img class="" src="assets/game-assets/batu.png" alt="" />
                </button>
              </li>
              <li>
                <button id="comp-paper" disabled>
                  <img class="" src="assets/game-assets/kertas.png" alt="" />
                </button>
              </li>
              <li>
                <button id="comp-scissors" disabled>
                  <img class="" src="assets/game-assets/gunting.png" alt="" />
                </button>
              </li>
            </ul>
          </div>
          <a class="reset my-0 py-0"
            ><img
              class="img-fluid"
              id="reset"
              src="assets/game-assets/refresh.png"
              alt=""
          /></a>
        </div>
      </div>
    </section>

    <script src="./app/script.js"></script>

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
