<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <!-- bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <title>Welcome <%= username %></title>
  </head>
  <body>
    <section class="container-fluid">
      <div class="d-flex mx-auto justify-content-between">
        <a class="p-3 display-5" href="/">
          <i class="bi bi-arrow-left-square"></i>
        </a>
        <a class="p-3 display-5" href="/user">
          <i class="bi bi-person-square"></i>
        </a>
      </div>
      <div class="text-center">
        <h1 class="display-2">Hello <%= username %>!</h1>
        <p>wanna play game?</p>
        <button
          type="button"
          class="playbutton mb-5"
          onclick="window.location.href='/game'"
        >
          Play
        </button>
      </div>
    </section>
  </body>
</html>
