<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <title>Traditional Game</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include("partials/navbar"); -%>

    <!-- hero section -->
    <section
      class="hero container-fluid d-flex align-items-center justify-content-center"
      id="home"
    >
      <main class="container text-center text-light">
        <div class="content d-flex justify-content-center align-item-center mt-5">
        <div class="mt-5 pt-5">
        <h1 class="h1">PLAY TRADITIONAL GAME</h1>
        <h3 class="mt-5">Experience new traditional game play</h3>
        <button
          type="button"
          class="playbutton btn btn-warning text-black px-sm-5 py-sm-3 mt-5"
          onclick="window.location.href='/game'"
        >
          PLAY NOW
        </button>
      </div>
    </div>
        <div class="my-5"  id="scrolldown">
          <p>THE STORY</p>
          <a href="#about"
            ><img src="./assets/arrowdown.svg" alt="scrolldown"
          /></a>
        </div>
      </main>
    </section>

    <!-- about -->
    <section class="about container-fluid d-flex align-items-center" id="about">
      <div class="container row mx-auto">
        <div class="col-lg-4" id="thegames">
          <h3>What's so special?</h3>
          <h1>THE GAMES</h1>
        </div>
        <div
          class="col-lg-8 d-flex align-items-center justify-content-center"
          id=""
        >
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                class="mx-sm-4"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                class="mx-sm-4"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                class=""
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active carousel-item-one" id="slide1">
                <img
                  src="assets/img/rockpaperstrategy-1600.jpg"
                  class="d-block px-sm-5 w-100"
                  alt="rock paper scissors"
                />
              </div>
              <div class="carousel-item carousel-item-two" id="slide2">
                <img
                  src="assets/img/blankimage.jpg"
                  class="d-block px-sm-5 w-100"
                  alt="blank image"
                />
              </div>
              <div class="carousel-item carousel-item-three" id="slide3">
                <img
                  src="assets/img/rockpaperstrategy-1600.jpg"
                  class="d-block px-sm-5 w-100"
                  alt="rock paper scissors"
                />
              </div>
              <div class="carousel-item carousel-item-four" id="slide4">
                <img
                  src="assets/img/blankimage.jpg"
                  class="d-block px-sm-5 w-100"
                  alt="blank image"
                />
              </div>
              <div class="carousel-item carousel-item-five" id="slide5">
                <img
                  src="assets/img/rockpaperstrategy-1600.jpg"
                  class="d-block px-sm-5 w-100"
                  alt="rock paper scissors"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- features -->
    <section
      class="features container-fluid d-flex align-items-center justify-content-center"
      id="features"
    >
      <div class="container row mx-auto">
        <div class="offset-lg-7 col-lg-5">
          <h3>What's so special?</h3>
          <h1>FEATURES</h1>
          <div class="timeline mt-5">
            <div class="step completed">
              <div class="v-stepper">
                <div class="circle">
                  <img src="./assets/ellipse.svg" alt="" />
                </div>
                <div class="line"></div>
              </div>

              <div class="content mb-4">
                <h4>TRADITIONAL GAMES</h4>
                <p>
                  If you miss your childhood, we provide many traditional games
                  here
                </p>
              </div>
            </div>

            <!-- step active -->
            <div class="step active">
              <div class="v-stepper">
                <div class="circle">
                  <img src="./assets/ellipse-outline.svg" alt="" />
                </div>
                <div class="line"></div>
              </div>

              <div class="content mb-3">
                <h4>GAME SUIT</h4>
              </div>
            </div>

            <!-- step empty -->
            <div class="step empty">
              <div class="v-stepper">
                <div class="circle">
                  <img src="./assets/ellipse-outline.svg" alt="" />
                </div>
                <div class="line"></div>
              </div>

              <div class="content"></div>
            </div>

            <!-- step regular -->
            <div class="step">
              <div class="v-stepper">
                <div class="circle">
                  <img src="./assets/ellipse-outline.svg" alt="" />
                </div>
                <div class="line"></div>
              </div>

              <div class="content">
                <h4>TBD</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- system requirements -->
    <section
      class="requirements container-fluid d-flex align-items-center"
      id="requirements"
    >
      <div class="row container mx-auto">
        <div class="heading text-center">
          <h3>Can My Computer Run this game?</h3>
        </div>
        <div class="sysreq col-lg-6">
          <div class="ms-1"><h1>SYSTEM REQUIREMENTS</h1></div>
          <table class="table table-bordered border-dark text-light">
            <tr>
              <td>
                <span class="tablehead">OS:</span> <br />
                <p>Windows 7 64-bit only (No OSX support at this time)</p>
              </td>
              <td>
                <span class="tablehead">PROCESSOR:</span> <br />
                <p>Intel Core 2 Duo @ 2.4GHZ or AMD Athlon X2 @2.8GHZ</p>
              </td>
            </tr>
            <tr>
              <td>
                <span class="tablehead">MEMORY:</span><br />
                <p>4 GB RAM</p>
              </td>
              <td>
                <span class="tablehead">storage:</span><br />
                <p>8 GB available space</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="tablehead">GRAPHICS:</span><br />
                <p>
                  NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
                  (Shader Model 5)
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <!-- quotes -->
    <section
      class="quotes container-fluid d-flex align-items-center text-light"
      id="quotes"
    >
      <div class="container row mx-auto">
        <div
          class="topscores-caption col-lg-6 d-flex flex-column justify-content-center"
        >
          <div class="mb-4"><h1>TOP SCORES</h1></div>
          <div class="mb-4">
            <p>This top scores from various games provided on this platform</p>
          </div>
          <div>
            <button
              type="button"
              class="playbutton btn btn-outline-warning text-black px-sm-5 py-sm-3"
            >
              see more
            </button>
          </div>
        </div>
        <div
          class="topscores col-lg-6 d-flex flex-column justify-content-center mx-auto"
        >
          <div class="d-flex justify-content-end me-md-5">
            <div class="card text-white my-4 d-flex" id="pcgamer">
              <div class="card-header d-sm-flex mb-0 pb-0">
                <a
                  class="avatar"
                  href="https://www.facebook.com/"
                  target="_blank"
                  ><img
                    src="./assets/img/ellipse-orange.png"
                    class="ava-bg"
                    alt="" /><img
                    src="./assets/img/evan-lahti.jpg"
                    class="ava rounded-circle"
                    alt="avatar"
                /></a>
                <div class="namecard me-auto">
                  <h4>Evan Lahti</h4>
                  <p class="text-white-50">PC&nbspGamer</p>
                </div>
                <a
                  class="twitter-card"
                  href="https://twitter.com/home"
                  target="_blank"
                  ><img src="./assets/img/twitter-card.png" alt=""
                /></a>
              </div>
              <div class="card-body pt-2">
                <p class="card-text mb-1 pe-5">
                  “One of my gaming highlights of the year.”
                </p>
                <p class="card-date text-white-50 mb-0">June 18, 2021</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-lg-start">
            <div class="card text-white mb-4" id="nerdreactor">
              <div class="card-header d-sm-flex mb-0 pb-0">
                <a
                  class="avatar"
                  href="https://www.facebook.com/"
                  target="_blank"
                  ><img
                    src="./assets/img/ellipse-orange.png"
                    class="ava-bg"
                    alt="" />
                  <img
                    src="./assets/img/jada-griffin.jpg"
                    class="ava rounded-circle"
                    alt=""
                /></a>
                <div class="namecard me-auto">
                  <h4>Jada Griffin</h4>
                  <p class="text-white-50">Nerdreactor</p>
                </div>
                <a
                  class="twitter-card"
                  href="https://twitter.com/home"
                  target="_blank"
                  ><img src="./assets/img/twitter-card.png" alt=""
                /></a>
              </div>
              <div class="card-body pt-2">
                <p class="card-text mb-1">
                  “The next big thing in the world of streaming and survival
                  games.”
                </p>
                <p class="card-date text-white-50 mb-0">July 10, 2021</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card text-white mb-3 ms-lg-4" id="uproxx">
              <div class="card-header d-sm-flex mb-0 pb-0">
                <a
                  class="avatar"
                  href="https://www.facebook.com/"
                  target="_blank"
                  ><img
                    src="./assets/img/ellipse-orange.png"
                    class="ava-bg"
                    alt="" />
                  <img
                    src="./assets/img/aaron-williams.jpg"
                    class="ava rounded-circle"
                    alt=""
                /></a>
                <div class="namecard me-auto">
                  <h4>Aaron williams</h4>
                  <p class="text-white-50">Uproxx</p>
                </div>
                <a
                  class="twitter-card"
                  href="https://twitter.com/home"
                  target="_blank"
                  ><img src="./assets/img/twitter-card.png" alt=""
                /></a>
              </div>
              <div class="card-body pt-2">
                <p class="card-text mb-1">
                  “Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                  Ridiculous.”
                </p>
                <p class="card-date text-white-50 mb-0">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- newsletter -->
    <section
      class="newsletter container-fluid d-flex align-items-center text-light"
      id="newsletter"
    >
      <div class="container row mx-auto">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <img
            class="img-fluid"
            id="skull"
            src="./assets/img/skull.png"
            alt="trophy"
          />
        </div>
        <div
          class="newsletter-caption col-lg-6 d-flex flex-column justify-content-center"
        >
          <h3>Want to stay in touch?</h3>
          <h1 class="">NEWSLETTER SUBSCRIBE</h1>
          <p>
            In order to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of by us. We
            will send you emails containing information about game. We don't
            spam.
          </p>
          <div class="row g-2 pt-2">
            <div class="col-md">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInputValue"
                  placeholder="youremail@binar.co.id"
                  value="youremail@binar.co.id"
                />
                <label for="floatingInputValue"><p class="text-light" style="background-color: #212529;">Your email address</p></label>
              </div>
            </div>
            <div class="col-md">
                <button
                  type="button"
                  class="playbutton btn btn-outline-warning text-black px-sm-5 py-sm-3"
                >
                  Subscribe now
                </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include("partials/footer"); -%>
    
  </body>
</html>
