<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <title>Login</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include("partials/navbar"); -%>

    <!-- login section -->
    <section
      class="login container-fluid d-flex align-items-center justify-content-center"
      id="login"
    >
      <main class="container col-md-4 text-white">
        <h1>Login</h1>
        <div class="text-danger"><% if (messages .error) { %>
          <p><%= messages.error %></p>
          <% } %></div>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="username" aria-label="default input example" placeholder="@username">
          </div>

          <!-- <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email Address</label
            >
            <input
              type="email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="yourmail@example.com"
            />
          </div> -->
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              name="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="••••••••"
            />
          </div>
          <button type="submit" class="btn playbutton btn-warning px-5 py-3">
            Login
          </button>
        </form>
      </main>
    </section>

    <!-- footer -->
    <%- include("partials/footer"); -%>
  </body>
</html>
