<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <title>Profile</title>
  </head>
  <body>
    <section class="container-fluid text-center">
      <h1>Hai, kamu adalah <%= username %></h1>
    </section>
  </body>
</html>
