<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header"); -%>
    <title>Work</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include("partials/navbar"); -%>

    <!-- work section -->
    <section
      class="work container-fluid d-flex align-items-center justify-content-center px-0"
      id="work"
    >
      <main class="container content text-center text-white">
        <h1>WORK</h1>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
          impedit libero, debitis temporibus nobis dolorum nihil perferendis,
          aspernatur a iusto possimus! Architecto repellendus fugiat sed
          repellat hic autem ut odio.
        </h3>
      </main>
    </section>

    <!-- footer -->
    <%- include("partials/footer"); -%>
    
  </body>
</html>
